@import "tailwindcss";

:root {
  --black: #000000;
  --neutral-900: #111111;
  --neutral-800: #1c1c1c;
  --neutral-700: #2d2d2d;
  --neutral-600: #3e3e3e;
  --neutral-500: #555555;
  --neutral-400: #888888;
  --neutral-300: #cccccc;
  --white: #ffffff;

  --background: var(--black);
  --foreground: var(--neutral-300);

  --card: var(--neutral-900);
  --card-foreground: var(--neutral-300);

  --popover: var(--black);
  --popover-foreground: var(--neutral-300);

  --primary: var(--white);
  --primary-foreground: var(--black);

  --secondary: var(--neutral-800);
  --secondary-foreground: var(--neutral-300);

  --muted: var(--neutral-700);
  --muted-foreground: var(--neutral-400);

  --accent: var(--white);
  --accent-foreground: var(--black);

  --border: var(--neutral-800);
  --input: var(--neutral-700);
  --ring: var(--neutral-400);
  --radius: 0.25rem;
}

.text-balance {
  text-wrap: balance;
}
.text-pretty {
  text-wrap: pretty;
}
